* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display:flex;
  flex-direction: column;
  height: 100%;
}
main {
  background-color: #eee;
  flex: 1;
  /*ie10*/
  -ms-flex: 1 1 auto; /*needs both shrink and grow*/
}
a {
  text-decoration:none !important;
}
.error {
  color:crimson;
  margin: 1rem 0;
}
.center-loading {
  text-align: center;
}
.profilePic {
  width: 100%;
  height: 100%;
}